<div class="container">
    <div>
        <canvas id="myChart" ></canvas>
          <div>
     <form  [formGroup]="userForm" class="container">

        <input type="radio" style = " display: inline-block ;position:relative;" formControlName="type" [(ngModel)]="type" value="Gender" (click)="gender()">
        <strong><label for="Gender" style = "position:relative;  color:blueviolet; "  >Gender</label><br></strong>

        <input type="radio" style = "position:relative; display: inline-block ; border-radius: 15px;"  formControlName="type" [(ngModel)]="type" value="Age" (click)="age()">
        <strong><label for="Age" style = "position:relative;  color:rgb(255, 0, 119); ">Age</label><br></strong>

    </form>
     </div>
    </div>
    </div>
