<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-1 col-6 order-md-1 order-1">
          <div class="col-xl-3 col-lg-2">
            <div class="logo">
              <a routerLink="index.html">
                <img src="assets/img/logo.png" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-10 order-md-2 order-3">`
          <nav class="header__menu">
            <ul>
              <li ><a routerLink="/home">Home</a></li>
              <li><a routerLink="/all-recipes">Recipes</a>
              </li>
<!--              <li><a routerLink="#">Dinner</a></li>-->
<!--              <li><a routerLink="#">Desserts</a></li>-->
              <li class="dropdown"><a routerLink="#">Pages</a>
                <ul class="dropdown__menu">
<!--                  <li><a routerLink="./categories-grid.html">Categories Grid</a></li>-->
<!--                  <li><a routerLink="./categories-list.html">Categories List</a></li>-->
                  <li><a routerLink="/post-recipe">Recipe Post</a></li>
                  <li><a routerLink="/signin">Sign In</a></li>
                  <li><a routerLink="/register">Register</a></li>
                  <li><a routerLink="/profile">Profile</a></li>
                </ul>
              </li>
              <li><a routerLink="/about">About</a></li>
              <a style="color: green;" routerLink="/signin">Login</a> /
              <a style="color: green;" routerLink="/register">Register</a>
            </ul>
          </nav>
        </div>
<!--        <div class="col-lg-2 col-md-1 col-6 order-md-3 order-2">-->
<!--          <div class="header__search">-->
<!--            <i class="fa fa-search search-switch"></i>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-3 col-md-3">-->
<!--        <div class="header__btn">-->
<!--          <a routerLink="./signin.html" class="primary-btn">Subscribe</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6 col-md-6">-->
<!--        <div class="header__logo">-->
<!--          <a routerLink="./index.html"><img src="assets/img/logo.png" alt=""></a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-3 col-md-3">-->
<!--        <div class="header__social">-->
<!--          <a routerLink="#"><i class="fa fa-facebook"></i></a>-->
<!--          <a routerLink="#"><i class="fa fa-twitter"></i></a>-->
<!--          <a routerLink="#"><i class="fa fa-youtube-play"></i></a>-->
<!--          <a routerLink="#"><i class="fa fa-instagram"></i></a>-->
<!--          <a routerLink="#"><i class="fa fa-envelope-o"></i></a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</header>


