<header>
  <div class="header-area ">
    <div id="sticky-header" class="main-header-area ">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-3 col-lg-2">
            <div class="logo">
              <a routerLink="index.html">
                <img src="img/logo.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-xl-6 col-lg-7">
            <div class="main-menu   d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  <li><a routerLink="/home">home</a></li>
                  <li><a routerLink="about.html">about</a></li>
                  <li><a routerLink="/view-recipe">Recipes</a></li>
                  <li><a routerLink="#">Login<i class="ti-angle-down"></i></a>
                    <ul class="submenu">
                      <li><a routerLink="blog.html">Login</a></li>
                      <li><a routerLink="single-blog.html">Don't have account?..Register</a></li>
                    </ul>
                  </li>
                  <li><a routerLink="#">pages <i class="ti-angle-down"></i></a>
                    <ul class="submenu">
                      <li><a routerLink="recipes_details.html">Recipes Details</a></li>
                      <li><a routerLink="elements.html">elements</a></li>
                    </ul>
                  </li>
                  <li><a routerLink="contact.html">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>
