body{
  background-color: red;
}

.header-area {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 99;
  position: absolute;
}

@media (max-width: 767px) {
  /* line 1, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area {
    padding-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 1, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area {
    padding-top: 0;
  }
}

/* line 16, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area {
  padding: 25px 0px;
  background: #fff;
  background: transparent;
}

@media (max-width: 767px) {
  /* line 16, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .main-header-area {
    padding: 10px 0px;
    background: #000;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 16, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .main-header-area {
    padding: 10px 15px;
    background: #000;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 16, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .main-header-area {
    padding: 25px 0px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 16, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .main-header-area {
    padding: 25px 0px;
  }
}

/* line 38, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .search_icon {
  text-align: right;
}

/* line 40, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .search_icon a {
  color: #fff;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  display: inline-block;
  text-align: center;
  line-height: 50px;
}

/* line 51, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area.details_nav_bg {
  background: #727272;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  /* line 51, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .main-header-area.details_nav_bg {
    padding-bottom: 10px;
  }
}

@media (max-width: 767px) {
  /* line 71, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .main-header-area .logo {
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 71, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .main-header-area .logo {
    text-align: left;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 71, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .main-header-area .logo {
    text-align: left;
  }
}

@media (max-width: 767px) {
  /* line 85, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .main-header-area .logo img {
    width: 55px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 85, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .main-header-area .logo img {
    width: 55px;
  }
}

/* line 97, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  /*-ms-flex-pack: flex-end;*/
}

/* line 101, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment .book_btn {
  margin-left: 30px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 101, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .main-header-area .Appointment .book_btn {
    margin-left: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 101, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .main-header-area .Appointment .book_btn {
    margin-left: 0;
  }
}

/* line 109, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment .book_btn a {
  background: transparent;
  padding: 12px 26px;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #000;
  color: #000;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 118, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment .book_btn a:hover {
  color: #fff;
  border: 1px solid transparent;
  background: #000;
  color: #fff;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 109, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .main-header-area .Appointment .book_btn a {
    padding: 12px 20px;
  }
}

/* line 133, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu {
  text-align: center;
  padding: 12px 0;
}

/* line 137, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}

/* line 147, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a {
  color: #000000;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  font-family: "Roboto", sans-serif;
  position: relative;
  text-transform: capitalize;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 147, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 147, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}

/* line 166, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {
  /* line 166, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 166, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

/* line 187, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 192, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 197, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a:hover {
  color: #000;
}

/* line 201, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 160%;
  background: #fff;
  width: 200px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

/* line 213, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}

/* line 215, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #000;
}

/* line 221, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}

/* line 225, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #000;
}

/* line 230, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 150%;
}

/* line 235, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 239, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li:first-child a {
  padding-left: 0;
}

/* line 246, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu.white_text li a {
  color: #fff !important;
}

/* line 253, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 990;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 10px 0px;
  background: rgba(255, 255, 255, 0.96);
  background: #000;
}

@media (max-width: 767px) {
  /* line 253, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .main-header-area.sticky {
    padding: 10px 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 253, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .main-header-area.sticky {
    padding: 10px 0px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 253, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .main-header-area.sticky {
    padding: 10px 0px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 253, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .main-header-area.sticky {
    padding: 10px 0px;
  }
}

/* line 286, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area.sticky .main-menu ul li a {
  color: #fff;
}

/* line 292, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area.sticky .header_bottom_border {
  border-bottom: none;
}

/* line 295, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area.sticky .header_bottom_border.white_border {
  border-bottom: none !important;
}

/* line 301, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .header-top_area {
  padding: 12px 0;
  background: rgba(44, 44, 44, 0.5);
}

@media (max-width: 767px) {
  /* line 304, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .header-top_area .social_media_links {
    text-align: center;
  }
}

/* line 308, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .header-top_area .social_media_links a {
  font-size: 15px;
  color: #fff;
  margin-right: 12px;
}

/* line 312, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .header-top_area .social_media_links a:hover {
  color: #28AE60;
}

/* line 317, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .header-top_area .short_contact_list {
  text-align: right;
}

@media (max-width: 767px) {
  /* line 317, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .header-top_area .short_contact_list {
    text-align: center;
  }
}

/* line 323, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .header-top_area .short_contact_list ul li {
  display: inline-block;
}

/* line 325, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .header-top_area .short_contact_list ul li a {
  font-size: 13px;
  color: #fff;
  margin-left: 50px;
}

@media (max-width: 767px) {
  /* line 325, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header-area .header-top_area .short_contact_list ul li a {
    margin-left: 0;
    margin: 0 5px;
  }
}

/* line 334, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .header-top_area .short_contact_list ul li a i {
  color: #28AE60;
  margin-right: 7px;
}

/* line 344, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header_bottom_border {
  border-bottom: 1px solid #4B4E50;
  padding-bottom: 22px;
}

/* line 347, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header_bottom_border.white_border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}

@media (max-width: 767px) {
  /* line 347, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header_bottom_border.white_border {
    padding: 0;
    border-bottom: none;
  }
}

@media (max-width: 767px) {
  /* line 347, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header_bottom_border.white_border {
    padding: 0;
    border-bottom: none !important;
  }
}

@media (max-width: 767px) {
  /* line 344, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
  .header_bottom_border {
    padding: 0;
    border-bottom: none;
  }
}

/* line 364, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu.white_text ul li a {
  color: #fff;
}

/* line 368, ../../Arafath/CL/CL October/220 Tasty Recipes/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu.white_text ul li .submenu li a {
  color: #000 !important;
}
