<!--<h2>Post a Recipe</h2>-->

<div class="container">
<form [formGroup]="recipeForm" (ngSubmit)="submitForm()">
  <div class="form-group">
    <label for="category">Category:</label>
    <select id="category" class="form-control" formControlName="category">
      <option *ngFor="let category of categoryModel" [value]="category.id">{{ category.name }}</option>
<!--      <option value="breakfast">Breakfast</option>-->
<!--      <option value="lunch">Lunch</option>-->
<!--      <option value="dinner">Dinner</option>-->
<!--      <option value="dessert">Dessert</option>-->
    </select>
    <div *ngIf="recipeForm.controls['category'].touched && recipeForm.controls['category'].errors?.['required']" class="error">
      Category is required.
    </div>
  </div>

  <div class="form-group">
    <label for="ingredients">Ingredients:
      <button mat-fab color="accent" (click)="addIngredient()">
        <mat-icon>add</mat-icon>
      </button>
    </label>
    <div formArrayName="ingredients">
      <div *ngFor="let ingredient of ingredientControls.controls; let i = index" [formGroupName]="i">
        <small *ngIf="ingredient.errors?.['required']"  class="form-text text-danger">required ingredient name</small>
        <small *ngIf="ingredient.errors?.['required']"  class="form-text text-danger">required quantity</small>
        <input type="text" class="form-control" formControlName="ingredientName">
        <input type="text" class="form-control" formControlName="ingredientQuantity">
        <button mat-fab color="warn" (click)="removeIngredient(i)" class="remove-button">
          <mat-icon>clear</mat-icon>
        </button>
        <!-- <button type="button" (click)="removeIngredient(i)">Remove</button> -->
      </div>
    </div>

    <!-- <button type="button" (click)="addIngredient()">Add Ingredient</button> -->
  </div>

  <div class="form-group">
    <label for="steps">Steps:
      <button mat-fab color="accent" (click)="addStep()">
        <mat-icon>add</mat-icon>
      </button>
    </label>
    <div formArrayName="steps">
      <div *ngFor="let step of stepControls.controls; let i = index" [formGroupName]="i">
        <input type="text" class="form-control" formControlName="stepDescription">
        <button mat-fab color="warn" (click)="removeStep(i)">
          <mat-icon>clear</mat-icon>
        </button>
        <!-- <button type="button" (click)="removeStep(i)">Remove</button> -->
      </div>
    </div>
    <!-- <button type="button" (click)="addStep()">Add Step</button> -->
  </div>

  <div class="form-group">
    <label for="preparingTime">Preparing Time:</label>
    <input type="text" id="preparingTime" class="form-control" formControlName="preparingTime">
    <div *ngIf="recipeForm.controls['preparingTime'].touched && recipeForm.controls['preparingTime'].errors?.['required']" class="error">
      Preparing Time is required.
    </div>
  </div>

  <div class="form-group">
    <label for="numberOfPersons">Number of Persons:</label>
    <input type="number" id="numberOfPersons" class="form-control" formControlName="numberOfPersons">
    <div *ngIf="recipeForm.controls['numberOfPersons'].touched && recipeForm.controls['numberOfPersons'].errors?.['required']" class="error">
      Number of Persons is required.
    </div>
  </div>

  <button type="submit">Submit</button>
</form>
</div>
