<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
  your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- bradcam_area  -->
<!--<div class="bradcam_area bradcam_bg_1">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-xl-12">-->
<!--        <div class="bradcam_text text-center">-->
<!--          <h3>Chicken Recipes</h3>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- /bradcam_area  -->

<!-- recepie_area_start  -->
<div class="recepie_area plus_padding">
  <div class="container">
    <div class="row">

      <div class="col-xl-4 col-lg-4 col-md-6" *ngFor="let recipe of paginatedList">
        <div class="single_recepie text-center">
          <div class="recepie_thumb">
            <img src="assets/img/recepie/recpie_{{recipe.id}}.png" alt="">
          </div>
          <h3>{{recipe.name}}</h3>
          <span>{{recipe.category.name}}</span>
          <app-app-rate [rate]="getRate(recipe.rateList)"></app-app-rate>
          <button type="button" (click)="restoreRecipe(recipe.id)" class="btn btn-outline-success">Restore</button>
<!--          <p>Status: {{recipe.status}}</p>-->
          <!--          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-text-fill" viewBox="0 0 16 16">-->
          <!--            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>-->
          <!--          </svg>-->
<!--          <a routerLink="/view-recipe/details/{{recipe.id}}" >-->

<!--            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="26" fill="currentColor" class="bi bi-arrow-up-right-square-fill icon" viewBox="0 0 16 16">-->
<!--              <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>-->
<!--            </svg>-->
<!--          </a>-->

<!--          <a routerLink="/view-recipe/details/{{recipe.id}}" >-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28" fill="currentColor" class="bi bi-pencil-square icon " viewBox="0 0 16 16">-->
<!--              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>-->
<!--              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>-->
<!--            </svg>-->
<!--          </a>-->

<!--          <button mat-fab  (click)="deleteRecipe(recipe.id)" class="remove-button small-button bg-danger">-->
<!--            <mat-icon class="small-icon">clear</mat-icon>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->


    </div>
  </div>
      <div class="text-center" *ngIf="paginatedList.length === 0">
        <p>No recipes available</p>
      </div>
</div>
<!-- /recepie_area_start  -->

<div class="pagination" *ngIf="paginatedList.length >1">
  <button (click)="previousPage()" [disabled]="currentPage == 0" >Previous</button>
  <button *ngFor="let page of totalPagesArray" (click)="goToPage(page)" [class.active]="currentPage === page">{{ page+1 }}</button>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages-1">Next</button>
</div>
<br><br>
<!-- JS here -->
<script src="js/vendor/modernizr-3.5.0.min.js"></script>
<script src="js/vendor/jquery-1.12.4.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/ajax-form.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/scrollIt.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/nice-select.min.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/gijgo.min.js"></script>

<!--contact js-->
<script src="js/contact.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/mail-script.js"></script>

<script src="js/main.js"></script>

