<!-- dish_area start  -->
<div class="dish_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="dish_wrap d-flex">

          <li *ngFor="let cat of categories">
            <div class="single_dish text-center">
              <div class="thumb">
                <img src="assets/img/recepie/recpie_4.png" alt="">
              </div>
              <h3>{{cat.name}}</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </li>

        </div>
      </div>
    </div>
  </div>
</div>


<!--/ dish_area start  -->
