<div class="register-page">

  <div class="form" [formGroup]="registrationForm">
    <p class="title">Register </p>
    <p class="message">Signup now and get full access to our app. </p>

    <label>
      <input [class.is-valid]="!registrationForm.controls['userName'].errors" id="userName" formControlName="userName"
             required placeholder="" type="text" class="input">
      <span>Firstname</span>
      <div
        *ngIf="registrationForm.controls['userName'].errors && (registrationForm.controls['userName'].touched || registrationForm.controls['userName'].dirty )">
        <small *ngIf="registrationForm.controls['userName'].errors?.['required']" class="form-text text-danger">
          <span style="color: red;font-size:10px">User Name is Required</span>
        </small>
        <small *ngIf="registrationForm.controls['userName'].errors?.['minlength']" class="form-text text-danger">
          <span style="color: red;font-size:10px">Minimum Length</span>
        </small>
        <small *ngIf="registrationForm.controls['userName'].errors?.['maxlength']" class="form-text text-danger">
          <span style="color: red; font-size:10px">Maximum Length</span>
        </small>
      </div>

    </label>


    <label>
      <input [class.is-valid]="!registrationForm.controls['email'].errors" formControlName="email" type="text"
             class="input" placeholder="" required>
      <span>Email</span>
      <div
        *ngIf="registrationForm.controls['email'].errors && (registrationForm.controls['email'].touched || registrationForm.controls['email'].dirty )">
        <small *ngIf="registrationForm.controls['email'].errors?.['required']" class="form-text text-danger">
          <span style="color: red; font-size:10px">Email is Required</span>
        </small>
        <small *ngIf="registrationForm.controls['email'].errors?.['pattern']" class="form-text text-danger">
          <span style="color: red;font-size:10px">Invalid Email</span>
        </small>

      </div>
    </label>

    <label>
      <input [class.is-valid]="!registrationForm.controls['password'].errors" formControlName="password" type="password"
             class="input" placeholder="" required>
      <span>Password</span>
      <div
        *ngIf="registrationForm.controls['password'].errors && (registrationForm.controls['password'].touched || registrationForm.controls['password'].dirty )">
        <small *ngIf="registrationForm.controls['password'].errors?.['required']" class="form-text text-danger">
          <span style="color: red; font-size:10px">Password is Required</span>
        </small>
        <small *ngIf="registrationForm.controls['password'].errors?.['minlength']" class="form-text text-danger">
          <span style="color: red;font-size:10px">Minimum Length</span>
        </small>
        <small *ngIf="registrationForm.controls['password'].errors?.['maxlength']" class="form-text text-danger">
          <span style="color: red; font-size:10px">Maximum Length</span>
        </small>
      </div>
    </label>
    <label>
      <input formControlName="repeatPassword" type="password" class="input" placeholder="" required>
      <span>Confirm password</span>
      <div
        *ngIf="registrationForm.controls['repeatPassword'].errors && (registrationForm.controls['repeatPassword'].touched || registrationForm.controls['repeatPassword'].dirty )">
        <small *ngIf="registrationForm.controls['repeatPassword'].errors?.['required']" class="form-text text-danger">
          <span style="color: red;font-size:10px ">Repeat password is required.</span>
        </small>
      </div>
      <small *ngIf="registrationForm.controls['repeatPassword'].hasError('passwordMismatch')"
             class="form-text text-danger">
        <span style="color: red;font-size:10px ">Passwords do not match.</span>
      </small>
    </label>
    <div class="flex">
      <label>
        <input [class.is-valid]="!registrationForm.controls['age'].errors" formControlName="age"
               type="number"
               placeholder=""  class="input" required>
        <span>Age</span>
        <div *ngIf="registrationForm.controls['age'].errors && (registrationForm.controls['age'].touched || registrationForm.controls['age'].dirty )">
          <small *ngIf="registrationForm.controls['age'].errors?.['required']"  class="form-text text-danger">
            <span style="color: red;font-size:10px ">Age is Required</span>
          </small>
          <small *ngIf="registrationForm.controls['age'].errors?.['pattern']" class="form-text text-danger">
            <span style="color: red;font-size:10px ">Invalid Age only accept digits (0-9).</span>
          </small>
        </div>
      </label>

      <label>
        <input formControlName="gender" required placeholder="" type="text"  maxlength="1"  class="input">
        <span>Gender</span>
        <div *ngIf="registrationForm.controls['gender'].errors && (registrationForm.controls['gender'].touched || registrationForm.controls['gender'].dirty )">
          <small *ngIf="registrationForm.controls['gender'].errors?.['required']"  class="form-text text-danger">
            <span style="color: red;font-size:10px">Type M or F </span>
          </small>
        </div>
      </label>
    </div>
    <button [disabled]="registrationForm.invalid" (click)=" register()" type="button" class="submit">Register Now</button>

    <p class="signin">Already have an acount ? <a routerLink="/login">Signin</a></p>
  </div>
</div>
