.single-preparation-step h4 {
  color: #474747;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  max-width: 60px;
  width: 60px;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  line-height: 1.3;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.h4, h4 {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.breadcrumb__text .breadcrumb__option a {
  display: inline-block;
  font-size: 16px;
  color: #111111;
  margin-right: 14px;
  position: relative;

}

.breadcrumb__text .breadcrumb__option a:after {
  position: absolute;
  right: -12px;
  top: 0;
  content: "/";
}

.breadcrumb__text .breadcrumb__option span {
  font-size: 16px;
  color: #888888;
}

@media (min-width: 0) {
  .g-mr-15 {
    margin-right: 1.07143rem !important;
  }
}
@media (min-width: 0){
  .g-mt-3 {
    margin-top: 0.21429rem !important;
  }
}

.g-height-50 {
  height: 50px;
}

.g-width-50 {
  width: 50px !important;
}

@media (min-width: 0){
  .g-pa-30 {
    padding: 2.14286rem !important;
  }
}

.g-bg-secondary {
  background-color: #fafafa !important;
}

.u-shadow-v18 {
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
  color: #777 !important;
}

.g-font-size-12 {
  font-size: 0.85714rem !important;
}

.media-comment {
  margin-top:5px;
  padding-bottom: 10px;

}
.rating-card{
  margin-top: 75px;
  box-shadow: 0 4px 6px #dadada;
  border: 5px
}

/*Fav heart icon*/
.con-like {
  --red: rgb(255, 50, 100);
  position: relative;
  width: 20px;
  height: 20px;

}

.con-like .like {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.con-like .checkmark {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-like .outline,
.con-like .filled {
  fill: var(--red);
  position: absolute;
}

.con-like .filled {
  animation: kfr-filled 0.5s;
  display: none;
}

.con-like .celebrate {
  position: absolute;
  animation: kfr-celebrate 0.5s;
  animation-fill-mode: forwards;
  display: none;
}

.con-like .poly {
  stroke: var(--red);
  fill: var(--red);
}

.con-like .like:checked ~ .checkmark .filled {
  display: block
}

.con-like .like:checked ~ .checkmark .celebrate {
  display: inline;
}

@keyframes kfr-filled {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes kfr-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
    display: none;
  }
}
